<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false" threshold="null">

   <!-- ================================= -->
   <!-- Preserve messages in a local file -->
   <!-- ================================= -->



	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Encoding" value="UTF-8"/>
		<param name="Threshold" value="debug"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="file" value="log/adapter.log"/>
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			 <param name="ConversionPattern" value="%d %-5p [%t] [%X{TRANSACTIONID}] [%X{REQUESTURI}] [%c] %L %m%n"/>
		</layout>
	</appender>


   <!-- A time/date based rolling appender -->
   <appender name="Console" class="org.apache.log4j.ConsoleAppender">
	<param name="Encoding" value="UTF-8"/> 	 
      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [sessionid] [transactionid] [requestUri] [Category] Message\n -->
         <param name="ConversionPattern" value="%d %-5p [%t] [%X{TRANSACTIONID}] [%X{REQUESTURI}] [%c] %L %m%n"/>
      </layout>
   </appender>

   <!-- Buffer events and log them asynchronously -->
   <appender name="ASYNCCOMMON" class="org.apache.log4j.AsyncAppender">
     <appender-ref ref="FILE"/>
   </appender>


   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->

   <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
   <category additivity="true" name="org.apache">
      <priority value="WARN"/>
   </category>

   
  <category additivity="true" name="com.accela.adapter.service.impl.HttpPostService">
      <priority value="DEBUG"/>
   </category>

   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>	
	<priority value ="debug" />
      <appender-ref ref="FILE"/>
	  <appender-ref ref="Console"/>
   </root>

</log4j:configuration>
